* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: serif;
   line-height: 1.6
}
header {
   display: flex;
   justify-content: center;
   flex-direction: column;
   /* color: #ffffff;
   background-color: #000000;
   padding: 3px;
   text-align: center;
   flex-wrap: wrap;
   margin-bottom: 20px; */
}
header nav {
   display: flex;
   justify-content: center;
   color: #ffffff;
   background-color: #000000;
   padding: 3px;
   text-align: center;
   flex-wrap: wrap;
   margin-bottom: 20px;
}

header nav ul{
   list-style: none;
   display: flex;
}

header nav ul li {
   display: inline;
   margin-right: 20px;
   font-size: 14px; 
   font-weight: 100;
   justify-content: center;
}

header nav ul li:last-child {
   margin-right: 0;
}

header nav ul li a {
   color: #fff;
   text-decoration: none;
   position: absolute;
   margin-left: auto;
   /* right: -50px; */
}
h2 {
   text-align: left;
   margin-top: -20px;
   margin-left: 20px;
   font-weight: 100;
   font-size: 28px;
}

img {
   max-width: 100%;
   height: auto;
}

section{
   text-align: center;
}
section p {
   text-align: center;
}
section button {
   margin: 0 auto;
}
footer {
   background-color: #333;
   color: #fff;
   text-align: center;
   padding: 20px 0;
   margin-bottom: -10px;
}

 /* .button:Find_Store{
    background-color: blueviolet;
 } */